body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.chat-container {
    max-width: 400px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.chat-box {
    height: 300px;
    overflow-y: scroll;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.logout-link {
    color: #ff0000; /* Czerwony kolor linku wylogowania */
}

.flash-info {
    padding: 10px;
    background-color: #d1ecf1;
    color: #0c5460;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
}

#user-input {
    width: calc(100% - 70px);
    margin-right: 10px;
    padding: 5px;
}

button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
